colorBlue=#3E80FF
color__dark=#102434
dark__grey=#C2C2C2
color__yellow= #FFDC64
max-width = 1024px
font-size-paragrah= 1em
font-size-titles= 2em
font-size-subtitles= 1em
border-radius = 15px
padding__container= 1em
