*
    box-sizing: border-box
body, p, h1, figure
    margin: 0px
    color:dark__grey
    font-family: 'Roboto', sans-serif;
::-webkit-scrollbar
    width: 10px
    height  5px

::-webkit-scrollbar-thumb
    background: dark__grey
    border-radius: 10px
    transition: background ease-in-out .5s
    &:hover
        background: color__dark
a
    text-decoration: none
ul, li
    display inline
    list-style none
.btn
    padding: 1em 4em
    border-radius: border-radius
    border: none
    font-weight: bold
    cursor pointer
    &.btn-corto
        padding: 1.5em 1.5em
        border: .5px solid dark__grey
.btn-white
        color:colorBlue
        background: white
.btn-blue
        color: white
        background: colorBlue

.border-none
    border: none

.btn, input
    outline: 0

.Titles__sections
    grid-area: Titles__sections
    color: color__dark
    font-size: font-size-titles