.header
    max-width: 100%
    height 100vh
    background: url('../images/hero-background.svg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    margin-bottom: 1em


.container__menu
    position relative
    z-index: 2
    display: grid
    grid-template-columns: repeat(4,1fr)
    grid-template-areas: 'Container__Logo . Container__menu Container__menu'
    align-items: center
    justify-content: space-between
    padding: padding__container
    max-width : max-width
    margin: 0 auto
.Container__Logo
    grid-area:Container__Logo
.container__logo
    display: inline-flex
    align-items: center
    color: white

    & img
        width: auto
        height 2.5em
        cursor: pointer
        margin-right: 1em
    & span
        font-size: font-size-paragrah
        font-weight: bold
.Container__menu
    grid-area: Container__menu
    text-align: right

    & a
        color: white
.btns__menu
    & .btn
        margin-left: 4em

.Hero
    text-align: center
    padding: padding__container
    
.Container__Hero
    position relative
    z-index: 1
    display: flex
    justify-content: center
    align-items: center
    height 100vh
    & .Hero__texts
        margin: auto auto
        h1
            font-size: 2.5em
            color: white
            font-weight: bold
            margin-bottom: .3em
        p
            font-size: font-size-paragrah
            margin-bottom: 1em
            color:colorBlue
    & .hero__form

            background-color: white
            border-radius: border-radius
            padding: 1em
    & .Hero__search
        width: 85%
        height 2.5em
        &::placeholder
            text-align: left
            padding: 1em
            font-family: 'Roboto'
            font-size: font-size-paragrah
            color:dark__grey


.Hero__icon__search
    height 35px
    width: 35px
    background-image: url('../images/search.svg')
    background-size: 35px 35px
    background-repeat: no-repeat
    background-color: transparent
    border: none
    vertical-align: middle
    &:focus
        outline: none

.overlay
    background: rgba(color__dark,.9)
    position: absolute
    top: 0
    bottom: 0
    right : 0
    left : 0

@media screen and (max-width: 426px)
    .Container__menu
        text-align: center
    .container__menu
        grid-template-columns: repeat(2,1fr)
    .btns__menu
        display: none
        background-color: white
        border-radius: border-radius
        position absolute
        right 10px
        top: 63%
        padding: padding__container
        transition: 1s ease-in
        & li:nth-child(2) button
            margin: 0 auto

        & ul, li
            display: block
            margin:  1em 1em
        &.active
            display: block
        & a
            color: colorBlue
            font-weight: bold
    @keyframes openMenu
        from
            height : 0
        to
            height: 100%
    .McButton
        display block

@media screen and (max-width: 320px)
    .Hero__icon__search
        height: 20px;
        width: 20px;
        background-size: 20px 20px
    // .overlay
    //     bottom: -20%




